h1{
    font-family: arial;
    color: blue;
}

body {
  background-color: lightblue;
}

p {
  font-family: impact;
}

canvas {
  background: #232323;
}

table, tr, td {
  border: 1px solid black;
  font-family: verdana;
  color: black;
}

table {
  border-collapse: collapse;
}

th {
  text-align: center;
}

tr:hover {
  background-color: #feaa;
}

td:nth-child(even) {
  background-color: #aeae;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #lightblue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #232323;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
